{% extends 'base.html.twig' %}

{% block title %}Engines List{% endblock %}

{% block body %}
    <h1>Engines list</h1>

    <table border="1">
        <tr>
            <th>Serial Code (ID)</th>
            <th>Name</th>
            <th>Horsepower</th>
            <th>Manufacturer</th>
            <th>Actions</th>
        </tr>
        {% for engine in engines %}
            <tr>
                <td>{{ engine.getSerialCode() }}</td>
                <td>{{ engine.getName() }}</td>
                <td>{{ engine.getHorsepower() }}</td>
                <td>{{ engine.getManufacturer() }}</td>
                <td>
                    <a href="{{ path('api_engine_show', {'serial_code': engine.getSerialCode()}) }}">Show</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Create New Engine</h2>
    <form method="post" action="{{ path('api_engine_create') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="serial_code">Serial Code:</label>
        <input type="text" id="serial_code" name="serial_code"><br><br>
        <label for="horsepower">Horsepower:</label>
        <input type="number" id="horsepower" name="horsepower"><br><br>
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer"><br><br>
        <button type="submit">Create</button>
    </form>
{% endblock %}
