{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to the Motorbikes database! ✅</h1>
    
    <p>You can find the Bikes and the Engines here:</p>
    <ul>
        <li><a href="{{ bikesLink }}">Bikes List</a></li>
        <li><a href="{{ enginesLink }}">Engines List</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ usersLink }}">Users List</a></li>
        {% endif %}
        <li><a href="{{ registerLink }}">Register</a></li>
        <li><a href="{{ loginLink }}">Login</a></li>
    </ul>
{% endblock %}
